* {
    color: white;
    background-color: black;
    font-family: Unbounded;
    margin: 5px;
    padding: 4px;
    text-align: center;
}
@font-face { font-family: Unbounded; src: url('Unbounded-Light.ttf'); } 

.back {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.cir {
    border-radius: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}