* {
    color: white;
    background-color: black;
    font-family: Unbounded;
    margin: 5px;
    text-align: center;
}
@font-face { font-family: Unbounded; src: url('Unbounded-Light.ttf'); } 

.back {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.cir {
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
    margin-right: 25px;
}
