* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Unbounded;
  }
  
.container {
    display: flex;
    color: black;
}

.container div {
    background: aliceblue;
    border: 4px solid rgb(13, 156, 217);
    height: 100px;
    flex: 1 1 0%;
}

.container h1 {
    text-align: center;
    padding: 25px;
}

@font-face { font-family: Unbounded; src: url('../recipes/Unbounded-Light.ttf'); } 
